@import '../../../assets/global.scss';

.logo-container {
  position: absolute;
  width: 25%;
  padding: 1rem;
  font-family: $global-font;
  transition: all 0.3s ease;
  z-index: 999;

  .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    a {
      color: $white;
      font-size: 30px;
      font-weight: 600;
      text-decoration: none;

      span {
        color: $yellow;
      }
    }
  }
}
