@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* global variables */
$global-font: 'Poppins', sans-serif;
$black: #292929;
$white: #ffffff;
$purple: #603fe3;
$red: #ec5555;
$yellow: #ffcd4d;
$blue: #42a5f5;
$form-bg-color: rgba(30, 30, 30, 0);

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom classes and functions */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

@mixin font-style($family, $size, $weight) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}
